# Virtual environment
.venv/

# Python cache
__pycache__/
*.py[cod]
*$py.class

# Jupyter
.ipynb_checkpoints/

# Environment variables / secrets
.env
.env.*

# OS files
.DS_Store

# IDE files
.vscode/
.idea/

data/raw/
data/processed/*

!data/processed/model_data.parquet

# Python distribution
*.egg-info/
dist/
build/